	<html>
		<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta name="keywords" content="Divya Garg, divya garg, garg, divya, UC Berkeley, Berkeley, berkeley, information, behavioral economics, uc berkeley, school of information, ischool, product manager, product, PM, pm, user experience, user, ux, ui, UX, UI, oracle, thoughtworks, Oracle, Thoughtworks, IGIT, Guro Gobind Singh Indraprastha University, HCI, award, divyagarg, divya.garg" />
        <meta property="og:title" content="Divya Garg - Portfolio"/>
		<meta property="og:url" content="www.divyagarg.com"/>
		<meta property="og:site_name" content="Divya Garg Portfolio"/>

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/github.io/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/github.io/">Home</a></li>
		        	<li><a href="/github.io/about">About</a></li>
				<li><a href="/github.io/projects">Projects</a></li>
	        		<li><a href="/github.io/resume">Resume</a></li>
	        		<li><a href="/github.io/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:divya.garg@berkeley.edu">email</a></li>
	        		<li><a href="https://github.com/divyagarg1">github.com/divyagarg</a></li>
				</ul>
			</footer>
		</body>
	</html>
